.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  /* Prevent the perspective div to sit above on the z-axis */
  isolation: isolate;
}

.maxWidthWrapper header {
  width: 65%;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 15%;
  left: 60%;
  bottom: 5%;
  min-height: 500px;
}

.controlColumn {
  width: 50%;
}
